/node_modules
/storage
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
.buildpath
.project
composer.phar
.settings/
/public/.htaccess
/.env
/public/hsshop/3/*
/public/hsshop/image/*
/public/hsshop/import/*
/public/ueditor/php/upload/image/*
/nbproject
/nbproject/
/public/hsshop/other/2017
/public/hsshop/video
*/node_modules/
/storage/