<div class="control-group">
    <div class="choosetitle">选择模板</div>
    <div class="modules_list">
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-groups clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的拼团</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(0)" ng-checked="editors[index].list[0].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-after clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">退款/售后</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(1)" ng-checked="editors[index].list[1].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-record clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的购物记录</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(2)" ng-checked="editors[index].list[2].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-money clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的财富</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(3)" ng-checked="editors[index].list[3].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-caifuyan clearfix" href="javascript: void(0);">
                <div class="title-info c-black font-size-14">财富眼
                    <div class="glyphicon-box">
                        <i class="glyphicon glyphicon-question-sign green f14"></i>
                        <p class="item-tip">开启财富眼，买家可在商品详情页中看到分销返佣</p>
                    </div>
                </div>
                
                <input type="checkbox" class="switch switch-anim" ng-click="checkCaifuyan()" ng-checked="is_open_weath">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-vip clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的会员卡</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(4)" ng-checked="editors[index].list[4].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-integral clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的积分</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(5)" ng-checked="editors[index].list[5].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-phone clearfix" href="javascript: void(0);">
                <div class="title-info c-black font-size-14">绑定手机号
                    <!-- <div class="glyphicon-box">
                        <i class="glyphicon glyphicon-question-sign green f14"></i>
                        <p class="item-tip">绑定手机号的前提是必须绑定公众号，微商城授权中必须有公众号授权</p>
                    </div> -->
                </div>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(6)" ng-checked="editors[index].list[6].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-coupon clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的优惠券</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(7)" ng-checked="editors[index].list[7].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-gift clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的赠品</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(8)" ng-checked="editors[index].list[8].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-car clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">购物车</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(9)" ng-checked="editors[index].list[9].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-addr clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">地址管理</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(10)" ng-checked="editors[index].list[10].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-research clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的调查留言</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(11)" ng-checked="editors[index].list[11].checked">
            </a>
        </div>
        <div class="modules_item list-vertical">
            <a class="modules_type link ico-collect clearfix" href="javascript: void(0);">
                <p class="title-info c-black font-size-14">我的收藏</p>
                <input type="checkbox" class="switch switch-anim" ng-click="checkModules(12)" ng-checked="editors[index].list[12].checked">
            </a>
        </div>
    </div>
</div>