<div class="editer-content">
    <div class="control-group">
        <label class="control-label">
            <em class="required">*</em>标题：
        </label>
        <div class="controls page_title">
            <input class="form-control" type="text" name="title" ng-model="editors[index].title" required>
        </div>
        <label class="control-label res_time">描述：</label>
        <div class="controls page_title res_time">
            <input class="form-control" type="text" name="title" ng-model="editors[index].subtitle">
        </div>
        <label class="control-label res_time">单选/多选：</label>
        <div class="controls res_time" style="padding-top: 2px">
            <input style='vertical-align: middle' ng-model="editors[index]['multiple']" ng-checked="editors[index]['multiple']==0" value="0" class="ng-pristine ng-valid ng-touched" checked type="radio" name="input_type" value="" required><span style='vertical-align: middle;margin-left: 5px' >单选</span>
            <input style='vertical-align: middle' ng-model="editors[index]['multiple']" ng-checked="editors[index]['multiple']==1" value="1" class="ng-pristine ng-valid ng-touched" type="radio" name="input_type" value="" required><span style='vertical-align: middle;margin-left: 5px' >多选</span>
        </div>
        <label ng-if="editors[index]['multiple'] == 1" class="control-label res_time">最少可选：</label>
        <div ng-if="editors[index]['multiple'] == 1" class="controls res_time" style="padding-top: 2px">
            <input style='vertical-align: middle;border: 1px solid #ccc; width: 60px;height: 24px;padding: 5px;' onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="num_inp ng-pristine ng-valid ng-touched" type="text" name="min-text" ng-model="editors[index]['min_options']" required>个
            <span style='vertical-align: middle;margin-left: 5px;color: #999;' >(最少选择1个)</span>
            <p class='error-message' ng-if="editors[index]['min_options'] > editors[index]['sub_rules'].length">最少选项不能大于选项数</p>
        </div>
        <label ng-if="editors[index]['multiple'] == 1" class="control-label res_time">最多可选：</label>
        <div ng-if="editors[index]['multiple'] == 1" class="controls res_time" style="padding-top: 2px">
            <input style='vertical-align: middle;border: 1px solid #ccc; width: 60px;height: 24px;padding: 5px;' onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="num_inp ng-pristine ng-valid ng-touched" type="text" name="max-text" ng-model="editors[index]['max_options']" value="" required>个
            <span style='vertical-align: middle;margin-left: 5px;color: #999;' >(最少选择1个)</span>
            <p class='error-message' ng-if="editors[index]['max_options'] > editors[index]['sub_rules'].length">您当前的选项数只有{{editors[index]['sub_rules'].length}}个</p>
            <p class='error-message' ng-if="editors[index]['max_options'] < editors[index]['min_options']">最少选项不能大于最大选项</p>
        </div>
        <label class="control-label res_time">图片显示：</label>
        <div class="controls res_time" style="padding-top: 2px">
            <input style='vertical-align: middle' ng-model="editors[index]['rule_image_type']" ng-checked="editors[index]['rule_image_type']==0" value="0" class="ng-pristine ng-valid ng-touched" checked type="radio" name="input_img" value="" required><span style='vertical-align: middle;margin-left: 5px' >单列</span>
            <input style='vertical-align: middle' ng-model="editors[index]['rule_image_type']" ng-checked="editors[index]['rule_image_type']==1" value="1" class="ng-pristine ng-valid ng-touched" type="radio" name="input_img" value="" required><span style='vertical-align: middle;margin-left: 5px' >多列</span>
        </div>
        <label class="control-label res_time">是否必填：</label>
        <div class="controls res_time" style="padding-top: 2px">
            <input style='vertical-align: middle' ng-model="editors[index]['required']" ng-checked="editors[index]['required']" class="ng-pristine ng-valid ng-touched" type="checkbox" name="title" value=""><span style='vertical-align: middle;margin-left: 5px' >必须填写</span>
        </div>
        <div class='res_vote_option'>
            <p>选项</p>
        </div>
        <div class='vote_choice'>
            <ul>
                <li ng-repeat="item in editors[index]['sub_rules']">
                    <span ng-click='removeImgVote($index)'>x</span>
                    <div>
                        <label class="control-label">
                            <em class="required">*</em>选项：
                        </label>
                        <div class="controls">
                            <div class="controls page_title addImges">
                                <ul class="module-goods-list clearfix ui-sortable" name="goods">
                                    <li class="sort ng-scope" ng-show="item.imgflag">
                                        <a href="javascript:void(0);" target="_blank">
                                            <img ng-src="{{item.image}}" width="50" height="50">
                                        </a>
                                        <a class="close-modal js-delete-goods small" data-id="" title="删除" ng-click="removeShareImg($index)">×</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="js-add-goods add-goods" ng-click="addShareImages($index)">
                                            <i class="icon-add"></i>
                                        </a>
                                    </li>
                                </ul>
                                <p class="help-block error-message ng-hide" ng-show="(pageSeting.share_title || pageSeting.share_desc) && !pageSeting.share_img">此项不能为空</p>
                            </div>
                            <input class="form-control" type="text" name="option" ng-model='item.title' placeholder='标题'>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class='add_option'>
            <i class='icon-add'></i>
            <a class="js-new-field" href="javascript:;" ng-click='addImgOpn()'>增加一个选项</a>
        </div>
    </div>
</div>