<div class="editor-content type-content">
    <div class="control-group">
        <!-- <label class="control-label type-label res_time">选择表头背景图：</label>
        <div class="controls page_title addImges">
            <div class="images-box">
                <img ng-src="{{editors[index]['sub_rules'][0].image}}" ng-show="editors[index]['sub_rules'][0].rule_image_flag">
                <a class="close-modal js-delete-goods small" ng-show="editors[index]['sub_rules'][0].rule_image_flag" data-id="" title="删除" ng-click="removeShareImg(0)">×</a>
                <a href="javascript:void(0);" class="js-add-goods add-goods" ng-click="addShareImages(0)">
                    <i class="icon-add"></i>
                </a>
            </div>  
        </div> -->
        <label class="control-label type-label res_time">页面背景颜色：</label>
        <div class="controls page_title res_time">
            <input type="color" name="color" class="form-control" ng-model="editors[index]['bg_color']">
            <!--add by 韩瑜 2018-9-5 添加16进制颜色输入框-->
	        <input class="form-control color_input" maxlength="7" type="text" value="#f8f8f8" ng-model="editors[index]['bg_color']" >
	        <!--end-->
            <!-- <p class="help-desc">背景颜色只在手机端显示。</p> -->
        </div>
        
        <label class="control-label type-label res_time">
                <em class="required">*</em>表头标题：
        </label>
        <div class="controls page_title res_time">
            <input class="form-control" type="text" name="title"  ng-model="editors[index].title" required>
        </div>
        <label class="control-label res_time type-label">表头描述：</label>
        <div class="controls page_title res_time res_time">
            <input class="form-control" type="text" name="title"  ng-model="editors[index].subtitle" value="" >
        </div>
        
        
    </div>
</div>