<div class="editer-content">
    <div>
        <div class="control-group">
            <label class="control-label">
                <em class="required">*</em>标题：
            </label>
            <div class="controls page_title">
                <input class="form-control" type="text" name="title" ng-model="editors[index].title" required>
            </div>
            <label class="control-label res_time" style="margin-top:7px;">时间类型：</label>
            <div class="controls page_title res_time">
                <select class='res_select' ng-init="editors[index].selectedSite = editors[index]['textLength'][editors[index]['rule_time_type']]" ng-model="editors[index].selectedSite" ng-options="x.key for x in editors[index]['textLength']">
                </select>
            </div>
            <label class="control-label res_time">是否必填：</label>
            <div class="controls res_time" style="padding-top: 2px">
                <input style='vertical-align: middle' ng-model="editors[index]['required']" ng-checked="editors[index]['required']"  class="ng-pristine ng-valid ng-touched" type="checkbox" name="title" value="" ><span style='vertical-align: middle;margin-left: 5px' >必须填写</span>
            </div>
        </div>
    </div>
</div>