<div>
    <div class="control-group">
        <label class="control-label">
            <em class="required">*</em>标题：
        </label>
        <div class="controls">
            <input class="form-control" type="text" name="title" ng-model="editors[index].title" required>
        </div>
        <label class="control-label res_time">描述：</label>
        <div class="controls res_time">
            <input class="form-control" type="text" name="title" ng-model="editors[index].subtitle">
        </div>
        <label class="control-label res_time">是否必填：</label>
        <div class="controls res_time" style="padding-top: 2px">
            <input style='vertical-align: middle' class="ng-pristine ng-valid ng-touched" ng-model="editors[index]['required']" ng-checked="editors[index]['required']" type="checkbox" name="title" value=""><span style='vertical-align: middle;margin-left: 5px' >必须填写</span>
        </div>
    </div>
</div> 