<div>
    <div class="control-group">
        <label class="control-label">公告：</label>
        <div class="controls">
            <input type="text" name="content" value="" class="form-control notice_input" placeholder="请填写内容，如果过长，将会在手机上滚动显示" ng-model="editors[index].content">
        </div>
        <label class="control-label" style="margin-top: 10px">背景颜色：</label>
        <div class="controls" style="margin-top: 10px">
            <input type="color" name="color" class="form-control" ng-model="editors[index].colorBg">
            <!--add by 韩瑜 2018-9-5 添加16进制颜色输入框-->
	        <input class="form-control color_input" maxlength="7" type="text" value="#f8f8f8" ng-model="editors[index].colorBg" >
	        <!--end-->
            <!--  <button class="btn js-reset-bg" type="button">重置</button> -->
        </div>
        <label class="control-label" style="margin-top: 10px">字体颜色：</label>
        <div class="controls" style="margin-top: 10px">
            <input type="color" name="color" class="form-control" ng-model="editors[index].txtBg">
            <!--add by 韩瑜 2018-9-5 添加16进制颜色输入框-->
	        <input class="form-control color_input" maxlength="7" type="text" value="#f8f8f8" ng-model="editors[index].txtBg" >
	        <!--end-->
            <!--  <button class="btn js-reset-bg" type="button">重置</button> -->
        </div>
    </div>
</div> 