<div class="control-group">
    <div class='detaTime_con'>
        <p class='detaTime_title'><em ng-if='editor.required'>*</em>{{editor.title}}</p>
        <p class='detaTime_title_a' ng-if='editor.subtitle'>{{editor.subtitle}}</p>
        <label>
            <select style="width: 80px">
                <option>请选择</option>
            </select>
            <select style="width: 80px;margin-right: 10px;margin-left: 10px">
                <option>请选择</option>
            </select>
            <select style="width: 80px">
                <option>请选择</option>
            </select>
        </label>
    </div>
</div>