<div class="control-group">
    <div class="custom-search" ng-style="{backgroundColor:editor.bgColor}" ng-show="editor.searchStyle==1">
        <div class="search">
        	<img ng-src="{{host+'mctsource/images/search_icon_2.png'}}" alt="" />
        	<span>{{editor.searchName}}</span>
        </div>
    </div>
    <div class="custom-search" ng-style="{backgroundColor:editor.bgColor}" ng-show="editor.searchStyle==2">
        <div class="search2 search">
        	<img ng-src="{{host+'mctsource/images/search_icon_2.png'}}" alt="" />
        	<span>{{editor.searchName}}</span>
        </div>
    </div>
    <div class="custom-search" ng-style="{backgroundColor:editor.bgColor}" ng-show="editor.searchStyle==3">
        <div class="search3 search">
        	<img ng-src="{{host+'mctsource/images/search_icon_2.png'}}" alt="" />
        	<span>{{editor.searchName}}</span>
        </div>
    </div>
    <div class="component-border"></div>
</div>