<!-- 拼团3 -->
<div class="control-group" ng-show="editor['style'] == 3 && !editor['groups'].length">
   <div class="portal-list-item">
        <div class="std-goods-image goods-image">
            <img ng-src="{{host}}mctsource/images/defaut_rectangle.png">
        </div>
        <p class="goods-name">
            拼团标题
        </p>
        <div class="detail">
            <div class="left-side">
                <div class="sale-price">
                    <i>￥</i>19.9
                </div>
                <div class="group-desc">
                    <span>
                        已拼
                        3.6万件
                    </span>
                </div>
            </div>
            <div class="right-side">
                <div class="local-groups" style="">
                    <span></span>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/8cd59cad91823d26d5cdd5f6f8f92288d2a08e66-1507131493?x-oss-process=image/resize,w_100"></div>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/136acc3a7a2f84a043d53b744f48cb5590b7184b-1507790460?x-oss-process=image/resize,w_100"></div>
                </div>
                <div class="enter-button">
                    <img ng-src="{{host}}shop/images/kaituan@2x.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 拼团4 -->
<div class="control-group" ng-show="editor['style'] == 4 && !editor['groups'].length">
    <div class="new-arrivals-list-item-1 double-grid-one-v2" id="new-arrivals-list-item-1">
        <div class="double-grid-item-v2" avalonctrl="new-arrivals-list-item-1">
            <div class="std-goods-image-square">
                <img data-index="1" ng-src="{{host}}/mctsource/images/default_square.png">
            </div>
            <div class="detail">
                <div class="name-block">
                    <div class="goods-name">
                       拼图标题
                    </div>
                </div>
                <div class="core">
                    <div class="info">
                        <p class="sale-price">
                            <i>￥</i>9.9</p>
                    </div>
                    <div class="local-groups">
                        <span></span>
                        <div class="avatar">
                            <img src="https://avatar.yangkeduo.com/a/78fce588e0fb1ddf0499dfa69b547738a95e54cb-1506322502?x-oss-process=image/resize,w_100">
                        </div>
                        <div class="avatar">
                            <img src="https://avatar.yangkeduo.com/a/d5cf22aaa5554b42fe7e559693fbc607646649d0-1500969496?x-oss-process=image/resize,w_100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="new-arrivals-list-item-1 double-grid-one-v2" id="new-arrivals-list-item-1">
        <div class="double-grid-item-v2" avalonctrl="new-arrivals-list-item-1">
            <div class="std-goods-image-square">
                <img data-index="1" ng-src="{{host}}/mctsource/images/default_square.png">
            </div>
            <div class="detail">
                <div class="name-block">
                    <div class="goods-name">
                        拼团标题
                    </div>
                </div>
                <div class="core">
                    <div class="info">
                        <p class="sale-price">
                            <i>￥</i>9.9
                        </p>
                    </div>
                    <div class="local-groups">
                        <span></span>
                        <div class="avatar">
                            <img src="https://avatar.yangkeduo.com/a/78fce588e0fb1ddf0499dfa69b547738a95e54cb-1506322502?x-oss-process=image/resize,w_100"></div>
                        <div class="avatar">
                            <img src="https://avatar.yangkeduo.com/a/d5cf22aaa5554b42fe7e559693fbc607646649d0-1500969496?x-oss-process=image/resize,w_100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 拼团2 -->
<div class="control-group" ng-show="editor['style'] == 2 && !editor['groups'].length">
    <div class="portal-list-item">
        <div class="std-goods-image goods-image">
            <img ng-src="{{host}}mctsource/images/defaut_rectangle.png">
            <div class="header_img">
                <div class="info">
                    <div class="info_spell">
                        <span>标签</span>
                    </div>
                    <p class="info_title">拼团标题<p>
                    <p class="info_tag">拼团副标题<p>
                    <div class="info_price">
                        <span>￥299</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail">
            <div class="left-side">
                <div class="local-groups pintuan3" style="">
                    <span></span>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/8cd59cad91823d26d5cdd5f6f8f92288d2a08e66-1507131493?x-oss-process=image/resize,w_100"></div>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/136acc3a7a2f84a043d53b744f48cb5590b7184b-1507790460?x-oss-process=image/resize,w_100"></div>
                </div>
                <div class="group-desc">
                    <span>
                       等38名好友参团
                    </span>
                </div>
            </div>
            <div class="right-side">
                <div class="enter-button">
                    <img ng-src="{{host}}shop/images/kaituan@2x.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 拼团1 -->
<div class="control-group" ng-show="editor['style'] == 1 && !editor['groups'].length">
    <div class='gp-list-wrap list-1'>
        <div class='gp-list-box'>
            <div class='gp-list-item'>
                <div class='gp-list-img-wrap'>
                    <img class='gp-list-img' ng-src='{{host}}/mctsource/images/default_square.png'>
                    <div class='gp-list-label'>标签</div>
                </div>
                <div class='gp-list-goods-name'>拼团标题</div>
                <div class='gp-list-other'>
                    <div class='gp-list-price'>￥299</div>
                    <div class='gp-list-people'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img' style='right:20px;'>
                    </div>
                </div>
            </div>
            <div class='gp-list-item'>
                <div class='gp-list-img-wrap'>
                    <img class='gp-list-img' ng-src='{{host}}/mctsource/images/default_square.png'>
                    <div class='gp-list-label'>标签</div>
                </div>
                <div class='gp-list-goods-name'>拼团标题</div>
                <div class='gp-list-other'>
                    <div class='gp-list-price'>￥299</div>
                    <div class='gp-list-people'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img' style='right:20px;'>
                    </div>
                </div>
            </div>
            <div class='gp-list-item'>
                <div class='gp-list-img-wrap'>
                    <img class='gp-list-img' ng-src='{{host}}/mctsource/images/default_square.png'>
                    <div class='gp-list-label'>标签</div></div>
                <div class='gp-list-goods-name'>拼团标题</div>
                <div class='gp-list-other'>
                    <div class='gp-list-price'>￥299</div>
                    <div class='gp-list-people'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img' style='right:20px;'>
                    </div>
                </div>
            </div>
            <div class='gp-list-item'>
                <div class='gp-list-img-wrap'>
                    <img class='gp-list-img' ng-src='{{host}}/mctsource/images/default_square.png'>
                    <div class='gp-list-label'>标签</div></div>
                <div class='gp-list-goods-name'>拼团标题</div>
                <div class='gp-list-other'>
                    <div class='gp-list-price'>￥299</div>
                    <div class='gp-list-people'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img' style='right:20px;'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 拼团3 -->
<div class="control-group" ng-show="editor['style'] == 3 && editor['groups'].length">
   <div class="portal-list-item" ng-repeat="list in editor['groups']">
        <div class="std-goods-image goods-image">
            <img ng-src="{{host}}{{list.rectangle_image}}">
        </div>
        <p class="goods-name">
            {{list.name}}
        </p>
        <div class="detail">
            <div class="left-side">
                <div class="sale-price">
                    <i>￥</i>{{list.price}}
                </div>
                <div class="group-desc">
                    <span>
                        已拼{{list.groups_num}}件
                    </span>
                </div>
            </div>
            <div class="right-side">
                <div class="local-groups" style="">
                    <span></span>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/8cd59cad91823d26d5cdd5f6f8f92288d2a08e66-1507131493?x-oss-process=image/resize,w_100"></div>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/136acc3a7a2f84a043d53b744f48cb5590b7184b-1507790460?x-oss-process=image/resize,w_100"></div>
                </div>
                <div class="enter-button">
                    <img ng-src="{{host}}shop/images/kaituan@2x.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 拼团4 -->
<div class="control-group" ng-show="editor['style'] == 4 && editor['groups'].length">
    <div class="new-arrivals-list-item-1 double-grid-one-v2"  ng-repeat="list in editor['groups']">
        <div class="double-grid-item-v2" avalonctrl="new-arrivals-list-item-1">
            <div class="std-goods-image-square">
                <img ng-src="{{host}}{{list.square_image}}">
            </div>
            <div class="detail">
                <div class="name-block">
                    <div class="goods-name">
                       {{list.name}}
                    </div>
                </div>
                <div class="core">
                    <div class="info">
                        <p class="sale-price">
                            <i>￥</i>{{list.price}}</p>
                    </div>
                    <div class="local-groups">
                        <span></span>
                        <div class="avatar">
                            <img src="https://avatar.yangkeduo.com/a/78fce588e0fb1ddf0499dfa69b547738a95e54cb-1506322502?x-oss-process=image/resize,w_100"></div>
                        <div class="avatar">
                            <img src="https://avatar.yangkeduo.com/a/d5cf22aaa5554b42fe7e559693fbc607646649d0-1500969496?x-oss-process=image/resize,w_100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 拼团2 -->
<div class="control-group" ng-show="editor['style'] == 2 && editor['groups'].length">
    <div class="portal-list-item" ng-repeat="list in editor['groups']">
        <div class="std-goods-image goods-image">
            <img ng-src="{{host}}{{list.rectangle_image}}">
            <div class="header_img">
                <div class="info">
                    <div class="info_spell" ng-if="list.label">
                        <span>{{list.label}}</span>
                    </div>
                    <p class="info_title">{{list.name}}<p>
                    <p class="info_tag">{{list.subtitle}}<p>
                    <div class="info_price">
                        <span>￥{{list.price}}</span>
                    </div>
                </div>
            </div>
        </div>
       <!--  <div class="std-goods-image goods-image">
            <img src="{{host}}{{list.rectangle_image}}">
            <div class="header_img">
                <div class="info">
                    <div class="info_spell" ng-if="list.label">
                        <span>{{list.label}}</span>
                    </div>
                    <p class="info_title">{{list.name}}<p>
                    <p class="info_tag">{{list.subtitle}}<p>
                    <div class="info_price">
                        <span>￥{{list.price}}</span>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="detail">
            <div class="left-side">
                <div class="local-groups pintuan3">
                    <span></span>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/8cd59cad91823d26d5cdd5f6f8f92288d2a08e66-1507131493?x-oss-process=image/resize,w_100"></div>
                    <div class="avatar">
                        <img src="https://avatar.yangkeduo.com/a/136acc3a7a2f84a043d53b744f48cb5590b7184b-1507790460?x-oss-process=image/resize,w_100"></div>
                </div>
                <div class="group-desc">
                    <span>
                       等{{list.groups_num}}名好友参团
                    </span>
                </div>
            </div>
            <div class="right-side">
                <div class="enter-button">
                    <img ng-src="{{host}}shop/images/kaituan@2x.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 拼团1 -->
<div class="control-group" ng-show="editor['style'] == 1 && editor['groups'].length">
    <div class='gp-list-wrap list-1'>
        <div class='gp-list-box'>
            <div class='gp-list-item' ng-repeat="list in editor['groups']">
                <div class='gp-list-img-wrap'>
                    <img class='gp-list-img' ng-src='{{host}}{{list.square_image}}'>
                    <div class='gp-list-label'>{{list.subtitle}}</div>
                </div>
                <div class='gp-list-goods-name'>{{list.name}}</div>
                <div class='gp-list-other'>
                    <div class='gp-list-price'>￥{{list.price}}</div>
                    <div class='gp-list-people'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img'>
                        <img src="https://ss2.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D220/sign=e46a35a55f4e9258b93481ecac83d1d1/b7fd5266d016092446517fdadd0735fae7cd34ff.jpg" class='gp-list-people-img' style='right:20px;'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
