<div class="control-group">
    <div class="custom-notice" style='height: 80px;font-size: 18px;line-height: 80px;color: #333333;background-color: #fff;'>
        <div class="custom-notice-inner">
            <img class="reseach_img" style="height: 32px;width: 32px;" src="https://upx.cdn.huisou.cn/wscphp/xcx/images/xcxImg/reseach_img.png" alt="">
            <span ng-if="!editor.resList[0].name">在线投票</span>
            <span ng-if="editor.resList[0].name">{{editor.resList[0].name}}</span>
            <img class="reseach_arrow" style="height: 27px;width: 15px;" src="https://upx.cdn.huisou.cn/wscphp/xcx/images/xcxImg/reseach_arrow.png">
            <!-- <div class="custom-notice-scroll">
                <span ng-if="!editor.resList[0].name">调查留言</span>
                <span ng-if="editor.resList[0].name">{{editor.resList[0].name}}</span>
            </div> -->
        </div>
    </div>
</div>