<div class="goodgroup">
    <div class="control-group-large">
        <label class="control-label">商品分组模版：</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" class="js-toggle-type" value="2" ng-checked="editors[index]['group_type'] == 2" ng-model="editors[index]['group_type']">顶部菜单
            </label>
            <label class="radio inline">
                <input type="radio" value="1" ng-checked="editors[index]['group_type'] == 1" ng-model="editors[index]['group_type']">左侧菜单
            </label>
        </div>
    </div>
    <!--update by 邓钊 2018-6-25-->
    <div class="control-group-large" ng-if="editors[index]['group_type'] == 1" style='display: none'>
        <label class="control-label">是否平铺：</label>
        <div class="controls" style='margin-left: 120px'>
            <label class="radio inline">
                <input type="radio" class="js-toggle-type" value="0" ng-checked="editors[index]['group_pinpu'] == 0" ng-model="editors[index]['group_pinpu']">否
            </label>
            <label class="radio inline">
                <input type="radio" value="1" ng-checked="editors[index]['group_pinpu'] == 1" ng-model="editors[index]['group_pinpu']">是
            </label>
            <label style='padding-top: 5px;'><span style='color: red'>*</span>&nbsp;<span style='color: #8a8a8a'>当开启商品分组平铺时，此分组会铺满整个页面，其他元素会全部给与隐藏</span></label>
        </div>
    </div>
    <!--end-->
    <!--update at 2018 8 28 邓钊 -->
    <div class="control-group-large" ng-if="editors[index]['group_type'] == 2">
        <label class="control-label">列表样式：</label>
        <div class="controls" style='margin-left: 120px'>
            <label class="radio inline">
                <input type="radio" class="js-toggle-type" value="0" ng-checked="editors[index]['listStyle'] == 0" ng-model="editors[index]['listStyle']">详细列表
            </label>
            <label class="radio inline">
                <input type="radio" value="1" ng-checked="editors[index]['listStyle'] == 1" ng-model="editors[index]['listStyle']">小图
            </label>
        </div>
    </div>
    <!-- end -->
    <div class="control-group js-collection-region">
        <ul class="choices ui-sortable" ng-show="editors[index]['group_type'] == 1">
            <li class="choice" ng-show="editors[index]['left_nav'].length" ng-repeat="list in editors[index]['left_nav'] track by $index">
                <div class="edit-tag-list">
                    <div class="tag-source">
                        <div class="control-group">
                            <label class="control-label pull-left">商品来源：</label>
                            <div class="controls pull-left">
                                <a href="javascript:void(0);" class="tag-title new-window" ng-bind="list.name"></a>
                                <a href="javascript:void(0);" class="tag-modify js-select-tag" ng-click="changeGroup(3,$index)">修改</a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="split-line"></div>-->
                    <!--<div class="goods-number">-->
                        <!--<span>显示数量</span>-->
                        <!--<div class="dropdown hover pull-right">-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" ng-mouseover="showDropDown(list)">-->
                                <!--<span ng-bind="list.num"></span>-->
                                <!--<i class="caret"></i>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu" role="menu" ng-show="list.dropDown">-->
                                <!--<li>-->
                                    <!--<a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,5)">5</a></li>-->
                                <!--<li>-->
                                    <!--<a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,10)">10</a></li>-->
                                <!--<li>-->
                                    <!--<a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,15)">15</a></li>-->
                                <!--<li>-->
                                    <!--<a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,30)">30</a></li>-->
                                <!--<li>-->
                                    <!--<a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,50)">50</a></li>-->
                                <!--<li>-->
                                    <!--<a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,100)">100</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="actions">
                    <span class="action delete close-modal" title="删除" ng-click="deleteGroup($index)">×</span>
                </div>
            </li>
        </ul>
        <ul class="choices ui-sortable" ng-show="editors[index]['group_type'] == 2">
            <li class="choice" ng-show="editors[index]['top_nav'].length" ng-repeat="list in editors[index]['top_nav'] track by $index">
                <div class="edit-tag-list">
                    <div class="tag-source">
                        <div class="control-group">
                            <label class="control-label pull-left">商品来源：</label>
                            <div class="controls pull-left">
                                <a href="javascript:void(0);" class="tag-title new-window" ng-bind="list.name"></a>
                                <a href="javascript:void(0);" class="tag-modify js-select-tag" ng-click="changeGroup(3,$index)">修改</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="split-line"></div>
                    <div class="goods-number">
                        <span>显示数量</span>
                        <div class="dropdown hover pull-right">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" ng-mouseover="showDropDown(list)">
                                <span ng-bind="list.num"></span>
                                <i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" ng-show="list.dropDown">
                                <li>
                                    <a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,5)">5</a></li>
                                <li>
                                    <a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,10)">10</a></li>
                                <li>
                                    <a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,15)">15</a></li>
                                <li>
                                    <a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,30)">30</a></li>
                                <li>
                                    <a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,50)">50</a></li>
                                <li>
                                    <a class="js-goods-number" href="javascript:void(0);" ng-click="chooseNum(list,100)">100</a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="actions">
                    <span class="action delete close-modal" title="删除" ng-click="deleteGroup($index)">×</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="control-group options js-add-subentry" style="display: block;">
        <a class="add-option js-add-option" href="javascript:void(0);" ng-click="chooseShopGroup(2)">
            <i class="icon-add"></i> 添加商品分组</a>
    </div>
    <!--updata by 邓钊 2018-8-13 点击左侧导航时隐藏限制文本-->
    <div class="control-group" ng-if="editors[index]['group_type'] == 2">
        <p class="app-component-desc help-desc">最多添加8个商品分组</p>
    </div>
    <!--end-->
    <div class="control-group goods-num">
        <label class="control-label">显示个数：</label>
        <div class="controls" style="display:flex">
            <label class="radio inline">
                <input type="radio" name="goods_number_v2" value="1" ng-model="editors[index]['isall']" ng-checked="editors[index]['isall'] == 1">
            </label>
            <input type="text" placeholder='商品个数为0，显示全部' name="goods_number_v2_input" ng-if="editors[index]['isall'] == 1" ng-model="editors[index]['show_num']" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="form-control">
            <input type="text" placeholder='商品个数为0，显示全部' name="goods_number_v2_input" ng-if="editors[index]['isall'] == 2" disabled class="form-control">
            <label class="radio inline">
                <input type="radio" name="goods_number_v2" value="2" ng-click="goodsNum(index)" ng-model="editors[index]['isall']" ng-checked="editors[index]['isall'] == 2">全部
            </label>
        </div>
    </div>
    <div class="control-group">
        <p class="app-component-desc help-desc">每个商品分组最多显示50个商品</p>
    </div>
    <div class="control-group" ng-if="editors[index]['group_type'] == 2">
        <label class="control-label">导航样式：</label>
        <div class="controls">
            <label class="radio inline">
                <input type="radio" name="nav_style" value="1" ng-checked="editors[index]['show_type'] == 1" ng-model="editors[index]['show_type']">样式1</label>
            <label class="radio inline">
                <input type="radio" name="nav_style" value="2" ng-checked="editors[index]['show_type'] == 2" ng-model="editors[index]['show_type']">样式2</label>
            <label class="radio inline">
                <input type="radio" name="nav_style" value="3" ng-checked="editors[index]['show_type'] == 3" ng-model="editors[index]['show_type']">样式3</label>
        </div>
    </div>
</div>