.container{width: 100%;min-height: 550px;padding-top: 8px;}
[v-cloak]{display: none;}
/*搜索样式开始*/
.search{position: relative;display: flex;display: -webkit-flex;display: -ms-flex; padding: 8px 15px;margin-bottom:8px;}
.search input{font-size:14px;line-height: 20px; flex: 1;-webkit-flex: 1;-ms-flex: 1;border:1px solid #e5e5e5;padding: 5px 0 5px 30px;border-radius:3px;}
.search input::-webkit-input-placeholder{color: #999999}
.search .search_button{line-height: 30px;width: 50px;text-align: right;color: #44bb00;text-align: center;}
.search .search_icon{position: absolute;top: 17px;left: 25px; width: 14px;height: 14px;background:url("../images/fdj@2x.png") center center no-repeat;background-size: 100% 100%;}
/*列表项开始*/
.store_list{}
.store_list .store_item{border-top:1px solid #eee;border-bottom:1px solid #eee;margin-bottom: 10px; background: #fff;}
.store_list .store_item .store_item_name{color: #333333;padding:13px 10px 13px 10px; font-size: 15px;letter-spacing: 1px}
.store_list .store_item .store_item_name .subtitle{margin-top: 8px;font-size: 15px;line-height: 22px}
.store_list .store_item .store_item_content{display: flex;display: -webkit-flex;display: -ms-flex;border-top:1px solid #DCDCDC;border-bottom:1px solid #DCDCDC;padding:10px;}
.store_item_content .store_item_address{flex:1;-webkit-flex:1;-ms-flex:1;display: flex;display: -webkit-flex;display: -ms-flex;}
.store_item_content .store_item_address .store_item_img{width: 65px;height: 65px;}
.store_item_content .store_item_address .store_item_title{margin-left: 8px;font-size:14px;color: #808080;line-height: 20px}
.store_item_content .phone{width: 65px;height:65px;background:url("../images/dh@2x.png") center center no-repeat;background-size: 25px 25px;}
.store_list .store_item_footer{padding:10px 10px 10px 10px;font-size: 12px;color:#808080;}
