@charset "utf-8";
@import "servicePublic";

/* 续费服务支付 */
%waitPayExtend{
    border-bottom:1px solid #e6e6e6;
    width:60%;
    margin-left:10%; 
    font:16px/32px '微软雅黑';
    padding:16px 0;
}
.waitPay{
    position: relative;
    color:#333;
    .waitPay-title{
        font-weight:bold;
        @extend %waitPayExtend;
    }
    .pay-way{
        @extend %waitPayExtend;
        label{
            font-weight:normal;
            text-indent:8px;
        }
        p:nth-of-type(2)>span{
            color:red;
            font-size:24px;
            &:before{
                content: '￥';
                color:red;
                font-size:20px
            }
        }
    }
    .pay-content{
        margin:32px 0;
        .alipay-qrcode{
            text-align: center;
            img{
                display: inline-block
            }
        }
        .wechat-qrcode{
            text-align: center;
            img{
                display: inline-block
            }
        }
        .remit-form{
            @extend %waitPayExtend;
            padding:24px;
            border:1px solid #e6e6e6;
        }
    }
    .remit-CS{
        position: fixed;
        right:28%;
        top:192px;
        background: #f6f6f6;
        padding:24px;
        text-align: center;
        img{
            width: 100px
        }
        a{
            display: inline-block;
            color:white;
            background: #3197FA;
            padding: 4px 8px;
            border-radius: 2px;
            margin-top:12px;
            font-size:12px;
        }
    }
}
.remit-form{
    .remit-tips{
        font:13px/24px '微软雅黑';
        margin-bottom:24px;
        .getPrice{
            color:#FF4343;
            font-size:18px
        }
        .count{
            color:red;
            font-size:24px;
            &:after{
                content: '元';
                color:red;
                font-size:14px;
            }
        }
        
    }
    .remit-content{
        background:#f5f5f5;
        padding:8px 16px;
        text-indent:32px;
        .fs-14{
            font-size:14px
        }
        p{
            font:16px/40px '微软雅黑';
        }
        p:nth-of-type(1){
            
            font-weight:bold;
            text-indent:0px;
        }
        p:nth-of-type(5){
            span{
                vertical-align: top;
            }
            textarea{
                resize:none;
                padding:4px 8px;
                margin-top:8px
            }
        }
        .remit-submit{
            margin-top:16px;
            text-indent:21%;
            button{
                border:0;
                outline: 0;
                background: #3197FA;
                color:white;
                border-radius: 2px;
                line-height: 34px;
                width: 100px
            }
        }
        .allowance{
            color:#f88824;
            font:12px/24px '微软雅黑';
            margin:40px 0 24px; 
            img{
                display: inline-block;
                vertical-align: middle;
                margin-right:4px
            }
            span{
                vertical-align: middle
            }
        }
    }
}

.fc-333{
    color:#333
}
.fc-666{
    color:#666
}
.inBlock{
    display: inline-block
}
.ml-8{
    margin-left: 8px
}

/*! 自定义input radio*/
input[type="radio"] + span:before {
    content: "\a0";
    box-sizing:border-box;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 1em;
    height: 1em;
    margin-right: 1em;
    border-radius: 50%;
    border: 1px solid #B8B8B8;
    text-indent: .15em;
    margin-top: -4px
}
input[type="radio"]:checked + span:before {
    box-sizing:border-box;
    background-size: 100% 100%;
    border:5px solid #3197FA;
    font-size:14px;
    width: 1em;
    height: 1em;
    margin-top: -4px
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}