.form-horizontal .form-group {margin-right:0;margin-left:0;}
.rewrite-bootstrap{padding:0 6px;font-size:14px;font-weight:normal;}
.fastSelect_time{color:#38f;font-size:12px;}
.mgl10{margin-left:10px;}
.red_f00{color:#f00;font-weight:bold; }
.main{overflow-x:visible;}
.f12{font-size:12px;}
.note_tips{cursor:pointer;}
.gray_999{color:#999;}