.borderShow{margin: 10px; margin-bottom: 40px; border: 1px solid #ccc;}
.content .content_top{
	height: 100px;
	display: flex;
	align-items: center;
	margin: 0 30px;
	color: #6c3;
	border-bottom: 1px solid #CCCCCC;
}
.content .content_top span{font-size: 16px; color: #333; margin-left: 30px;}
.content .content_main{
	height: auto;
	margin: 20px 30px;
	margin-left: 145px;
}
.content .content_main span{
	display: block;
	color: #003333;
	font-size: 13px;
	font-weight: bold;
	margin: 20px 0;
}
.content .content_main p{color: #666; font-size: 15px; line-height: 30px;}
.content ul{display: flex; justify-content: space-between;}
#firstUl{width: 85%;}
#secondUl{width: 80%;}
#firstUl p, #secondUl p{font-size: 12px;}
.content li{list-style: disc; width: 150px; height: auto;}
.content li:nth-child(1){margin-left: 20px;}
.content_bottom {text-align: center;}
.content_bottom a{display: block; margin: 30px 0; color: #27F;}
.content_bottom button{width: 170px; height: 50px;}
