.form-horizontal.push-setting-form {
  position: relative;
  margin: 5px 0 0 25px;
  font-size: 12px;
}
.form-horizontal.push-setting-form .control-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.form-horizontal.push-setting-form .control-group .control-label {
  margin-right: 10px;
  width: 72px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: right;
  padding-top:0;
  font-weight: normal;
}
.form-horizontal.push-setting-form .control-group .controls {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.form-horizontal.push-setting-form .divide-box {
  margin-bottom: 15px;
}

.form-horizontal.push-setting-form .divide-box .divide-title {
  margin-bottom: 5px;
  line-height: 30px;
}
.zent-checkbox-group, .zent-checkbox-wrap {
  display: inline-block;
  font-size: 12px;
}
.zent-checkbox-wrap {
  cursor: pointer;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  vertical-align: middle;
}
.zent-checkbox-wrap:last-child {
  margin-right: 0;
}
.zent-checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  white-space: nowrap;
  outline: none;
  vertical-align: middle;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.zent-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #bbb;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.zent-checkbox-inner:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  display: block;
  content: " ";
  font-size: 0;
  top: 3px;
  left: 2px;
  width: 6px;
  height: 3px;
  border: 2px solid #fff;
  background: transparent;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg) scale(0);
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  -webkit-transition: all .12s ease-in-out;
  -moz-transition: all .12s ease-in-out;
  transition: all .12s ease-in-out;
}
.zent-checkbox-checked>.zent-checkbox>.zent-checkbox-inner:after {
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}
.zent-checkbox>input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  cursor: pointer;
}
.zent-checkbox+span {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 16px;
}
.xcx-version-tip {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 16px;
  color:#FF4343;
}
.scale-size-wrap {
  width: 240px;
  height: 426px;
  overflow: hidden;
}
.scale-size-wrap .position-wrap {
  position: relative;
  left: -40px;
  top: -71px;
}
.message-template-preview {
  position: relative;
  padding-top: 85px;
  padding-bottom: 40px;
  width: 320px;
  height: 567px;
  background: url(../images/message.png) 50% no-repeat;
  background-image: -webkit-image-set(url(../images/message.png) 1x,url(../images/message-v3.png) 2x);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scale-size-wrap .position-wrap>div {
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  -ms-transform: scale(.75);
  transform: scale(.75);
}
.message-template-preview .message-template-scroll {
  height: 430px;
  overflow-x: hidden;
  overflow-y: auto;
}
.message-template-preview .message-template-scroll .fake-time {
  margin: auto;
  width: 318px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  color: #999;
  background: #fff;
}
.message-template-content {
  display: inline-block;
  position: relative;
  left: 20px;
  margin-bottom: 12px;
  padding: 8px 15px;
  max-width: 260px;
  word-break: break-all;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  background: #e5e5ea;
  border-radius: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.message-template-content:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #e5e5ea;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}
.message-template-content:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 20px;
  width: 10px;
  height: 20px;
  background: #fff;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px,-2px);
  -moz-transform: translate(-30px,-2px);
  -ms-transform: translate(-30px,-2px);
  transform: translate(-30px,-2px);
}
.wechat-template-preview {
  position: relative;
  padding-top: 115px;
  width: 320px;
  height: 568px;
  border: 1px solid #e5e5e5;
  background: url(../images/news_message.png) 50% no-repeat;
  background-image: -webkit-image-set(url(../images/news_message.png) 1x,url(../images/news_message@3x.png) 2x);
}
.wechat-template-content {
  margin: auto;
  padding: 15px 15px 0;
  width: 290px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.divide-content .setting-title {
  margin-top: -5px;
  margin-bottom: 12px;
  color: #999;
}
.wechat-template-preview .wechat-template-company {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0 65px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wechat-template-content .wechat-template-title {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1;
  color: #000;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom:20px;
}
.wechat-template-content .wechat-template-date {
  font-size: 12px;
  line-height: 17px;
  color: #999;
}
.wechat-template-content .wechat-template-html {
  margin: 20px 0;
  font-size: 14px;
  color: rgba(0,0,0,.71);
}
.wechat-template-content .wechat-template-link {
  border-top: 1px solid #e5e5e5;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #576b95;
  cursor: default;
}
.btn_grounp {
  position: fixed;
  min-width: 770px;
  bottom: 0;
  left: 230px;
  right: 230px;
  padding: 11px;
  text-align: center;
  z-index: 999;
  min-width: 760px;
  height: 50px;
  background: hsla(0,0%,100%,.95);
  -webkit-box-shadow: rgba(0,0,0,.07) 0 -2px 2px;
  box-shadow: 0 -2px 2px rgba(0,0,0,.07);
}
.zent-btn-primary {
  color: #fff;
  background: #3283fa;
  border-color: #3283fa;
}

.wechat-fans-msg-preview {
  position: relative;
  padding-top: 65px;
  padding-bottom: 40px;
  width: 320px;
  height: 568px;
  border: 1px solid #e5e5e5;
  background: url(../images/news_message.png) 50% no-repeat;
  background-image: -webkit-image-set(url(../images/news_message.png) 1x,url(../images/news_message@3x.png) 2x);
}
.wechat-fans-msg-preview .wechat-fans-msg-company {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0 65px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wechat-fans-msg-preview .wechat-fans-msg-scroll {
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}
.wechat-fans-msg-preview .wechat-fans-msg-scroll .fake-time {
  padding: 20px 0 14px;
  margin: auto;
  width: 318px;
  text-align: center;
  background: #ebebeb;
}
.wechat-fans-msg-preview .wechat-fans-msg-scroll .fake-time span {
  display: inline-block;
  width: 91px;
  height: 20px;
  font-size: 12px;
  border-radius: 2px;
  color: #fff;
  background-color: #cecece;
}
.wechat-fans-msg-content {
  position: relative;
  margin-bottom: 12px;
}
.wechat-fans-msg-content .wechat-fans-msg-avatar {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 10px;
  text-align: center;
}
.wechat-fans-msg-content .wechat-fans-msg-text {
  display: inline-block;
  position: relative;
  left: 6px;
  margin-left: 56px;
  padding: 10px 9px;
  max-width: 216px;
  word-break: break-all;
  font-size: 16px;
  line-height: 1.25;
  color: #000;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wechat-fans-msg-content .wechat-fans-msg-text:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-top: 1px solid #d1d1d1;
  border-left: 1px solid #d1d1d1;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.wechat-fans-msg-link {
  margin-top: 5px;
  height: 22px;
  color: #576b95;
}



.weapp-template-wrap {
  position: relative;
  padding-top: 58px;
  width: 320px;
  height: 568px;
  border: 1px solid #e5e5e5;
  background: url(../images/news_message.png) 50% no-repeat;
  background-image: -webkit-image-set(url(../images/news_message.png) 1x,url(../images/news_message@3x.png) 2x);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.weapp-template-wrap.just-view .wechat-template-company {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  padding: 0 65px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.weapp-template-wrap.just-view .wechat-template-scroll {
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}
.weapp-template-wrap.just-view .wechat-template-scroll .fake-time {
  padding: 20px 0 14px;
  margin: auto;
  width: 318px;
  text-align: center;
  background: #ebebeb;
}
.weapp-template-wrap.just-view .wechat-template-scroll .fake-time span {
  display: inline-block;
  width: 91px;
  height: 20px;
  font-size: 12px;
  border-radius: 2px;
  color: #fff;
  background-color: #cecece;
}
.weapp-template-preview {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  width: 290px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.weapp-template-wrap .weapp-template-preview {
  margin: auto;
}
.weapp-template-preview-header {
  position: relative;
  height: 52px;
  padding-left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.weapp-template-preview.just-view .weapp-template-preview-header {
  padding-left: 0;
  margin: 0 15px;
}
.weapp-template-preview-header .weapp-logo {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #eaeaea;
}
.weapp-template-preview-header .weapp-nickname {
  margin-left: 5px;
  font-size: 14px;
}
.weapp-template-preview-content {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 15px;
}
.weapp-template-preview.just-view .weapp-template-preview-content {
  margin: 20px 15px 0;
  padding: 0 0 20px;
}
.weapp-template-preview-content .weapp-library-title {
  font-size: 16px;
  margin-bottom: 10px;
}
.weapp-template-preview-content .weapp-send-time {
  color: #999;
  font-size: 12px;
}
.weapp-template-preview.just-view .weapp-content {
  margin-top: 49px;
}
.weapp-template-preview.just-view .weapp-content div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
}
.weapp-template-preview.just-view .weapp-content div label {
  width: 66px;
  font-size: 14px;
  color: #999;
}
.weapp-template-preview.just-view .weapp-content div p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  color: #000;
}
.weapp-template-preview-footer {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
}
.weapp-template-preview.just-view .weapp-template-preview-footer {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
}
.weapp-template-preview-footer .icon, .weapp-template-preview .placeholder {
  color: #999;
}
.zenticon {
  display: inline-block;
  speak: none;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  font-variant: normal;
  text-rendering: auto;
  text-decoration: inherit;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.zenticon:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-family: zenticon!important;
}
.zenticon-right:before {
  content: "\E832";
}