.w-70{width:70px;}
.w-80{width:80px;}
.w-90{width:90px;}
.w-100{width:100px;}
.w-110{width:110px;}
.w-120{width:115px;}
.w-130{width:130px;}
.w-140{width:140px;}
.w-150{width:150px;}
.w-160{width:160px;}
.w-200{width:200px;}
.w100{width:100%;}
.h-30{height:30px;}
.screen{background: #f5f5f5; padding: 20px;}
.screen .form-inline label{display: inline-block; font-weight: normal;}
.screen .btns_clean{margin-left: 16px;}
.screen .btns_clean a{color: dodgerblue;}
.addBtn{padding: 20px 35px;}
/*.member_list{padding: 20px;}*/
.member_list .list_item{padding: 10px; display: flex; justify-content: space-between; align-items: center; min-height: 50px; border-bottom: 1px solid #dfdfdf;}
.member_list .list_header{background: #f5f5f5;}
.member_list .list_item li{width: 12%; text-align: center; overflow: hidden;}
.member_list .list_item li input{display: none;text-align:center;}
.member_list .list_item li p{display: inline-block;}
.member_list .list_item li p a{margin-right:10px;}
.member_list .list_item li.edit input{display: inline-block;text-align:center;}
.member_list .list_item li.edit p{display: none;}
.member_list .list_item li:nth-child(5){width: 20%;}
.member_list .list_item li:nth-child(7),
.member_list .list_item li:nth-child(8){width: 20%;}
.member_list .list_item li span{color: dodgerblue; cursor: pointer;}
.member_list .list_item li .delet{color: red;}

.main_bottom{margin-top: 20px;}
.main_bottom span a{padding: 0 5px; color: dodgerblue;}


/* 列表 */
.table{
    border: 1px solid #e6e6e6
}
.table thead tr th{
    padding: 18px 0;
    background: #F2F2F2;
    font-weight: 400;
    line-height: 1
}
.table tbody tr td{
    padding: 12px 0;
    line-height: 32px
}
.table thead th:last-child{
    width: 14%;
}
.table .distribute-name{
    vertical-align: middle;
    border-right: 1px solid #e6e6e6
}
.table .operate{
    vertical-align: middle;
    border-left: 1px solid #e6e6e6 
}
.table tbody tr input{
    display: none
}
.table tbody tr p{
    display: inline-block
}
.table tbody tr.edit_status input{
    display: inline-block;
    padding: 0 5px
}
.table tbody tr.edit_status p{
    display: none
}
.edit_status .btn-save,.edit_status .btn-cancel{
    line-height: 32px;
    border: 1px solid #CCCCCC;
    color: #666666;
    border-radius: 2px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.edit_status .btn-save{
    background: #3197FA;
    color: #fff;
    border-color: #3197FA
}