/*成功弹框*/
body .success_tip{width:450px;background:#45b182;color:#fff;text-align:center;padding:10px 0;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;box-shadow:0px 0px 10px rgba(0,0,0,.3);-webkit-box-shadow:0px 0px 10px rgba(0,0,0,.3);-moz-box-shadow:0px 0px 10px rgba(0,0,0,.3);}
body .success_tip .layui-layer-content{padding:0;}
/*失败弹框*/
body .lose_tip{width:450px;background:#ff4343;color:#fff;text-align:center;padding:10px 0;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;box-shadow:0px 0px 10px rgba(0,0,0,.3);-webkit-box-shadow:0px 0px 10px rgba(0,0,0,.3);-moz-box-shadow:0px 0px 10px rgba(0,0,0,.3);}
body .lose_tip .layui-layer-content{padding:0;}
/*公共样式*/
.img_wrap{display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;}
.img_wrap img{max-width:100%;max-height:100%;display:block;}
.items_ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.items_ellipisis2{overflow:hidden;text-overflow:ellipsis;display:flex;display:-webkit-box;display:-moz-box;line-clamp: 2;-webkit-line-clamp: 2;-moz-line-clamp: 2;box-orient: vertical;-webkit-box-orient: vertical;-moz-box-orient: vertical;word-wrap:break-word;word-break:break-all;}
.c_gray{color:#999;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.blue_38f{color:#38f;} 
.blue_38f:hover{color:#27f;}
a.blue_38f:focus{color:#38f;text-decoration:none;}
.blue_00f{color:#00f;}
a.blue_00f:hover{color:#00f;}
a.blue_00f:focus{color:#00f;}
.green{color:#49c800;}
.red{color:#f30;}
.orange_f60{color:#f60;}
.orange_f70{color:#f70;}
.gray_999{color:#999;}
.gray_ccc{color:#ccc;}
.mg15{margin:15px;}
.mgb10{margin-bottom:10px;}
.mgb15{margin-bottom:15px;}
.mgb30{margin-bottom:30px;}
.mgr10{margin-right:10px;}
.mglr10{margin:0 10px;}
.mgtb30{margin:30px 0;}
.mgb100{margin-bottom:100px;}
.mgl15{margin-left:15px;}
.main{overflow-x:visible;}
.w50{width:50px;}
.w180{width:180px}
.w250{width: 250px;}
.w350{width: 350px;}
.empty_items{font-size:12px;text-align:center;line-height:150px;border:1px solid #dcdcdc;}
.chart_items{min-height:300px;border:1px solid #e4e4e4;}
.block{display:block;}
.no{display:none!important;}
.textRight{text-align:right;}
strong{display:block;}
input[type="text"]:focus{
	border-color:rgba(82,168,236,.8);
	outline:0;
	outline:dotted thin\9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}
.box_flex1{
	display: block;
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}
.display_box{
	display:flex;
	display: -moz-box;
	display:-webkit-box;
	box-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-pack:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
}
/*工具栏*/
.sidebar_module{
	background: #fff7cc;
    border: 1px solid #fdeeb2;
    color: #333;
    padding:10px 15px;
	margin:10px;
	font-size:12px;
}

/*导航模块*/
.module_nav{}
.module_nav:after{
	content: "";
	display: block;
	clear: both;
}
.module_nav li{
	min-width: 80px;
	float: left;
	padding:10px 15px;
	color: #333;
    border: 1px solid #e5e5e5;
    border-left:0;
    background: #f8f8f8;
}
.module_nav li:first-child{
	border-left: 1px solid #e5e5e5;
}
.module_nav li.hover{
	border-bottom-color: #fff;
    background: #fff;
}
.module_nav li a{
	font-size:12px;
	text-align:center;
	display: block;
}
.down_tip{
	display:flex;
	display:-webkit-box;
	display:-moz-box;
	box-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-pack:end;
	-webkit-box-pack:end;
	-moz-box-pack:end;
}
.message_down,.message_tip{padding-bottom:15px;display:block;}
/*下载模块*/
.message_down{position:relative;}
.message_down:hover .down_module{display:block;}
.down_module{
	display:none;
	padding:20px;
	border:1px solid #999;
	box-shadow:0 0 5px rgba(0,0,0,.4);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.4);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.4);
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	background:#fff;
	text-align:center;
	top:32px;
	left:-100%;
	position:absolute;
	z-index:99;
}
.down_module:hover{display:block;}
.down_module .down_header{
	padding:20px;
	margin-bottom:20px;
	border-bottom:1px solid #e5e5e5;
}
.down_module .down_body{}
.down_module .down_body .down_items{margin:0 10px;}
.down_module .down_body a:hover{color:#000;}
/*列表*/
table td img{margin:0 auto;}
.add_label{margin:0 auto;}
.add_label input{padding:5px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border:1px solid #999;}
