/*公共样式*/
.img_wrap{display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;}
.img_wrap img{max-width:100%;max-height:100%;display:block;}
.items_ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.items_ellipisis2{overflow:hidden;text-overflow:ellipsis;display:flex;display:-webkit-box;display:-moz-box;line-clamp: 2;-webkit-line-clamp: 2;-moz-line-clamp: 2;box-orient: vertical;-webkit-box-orient: vertical;-moz-box-orient: vertical;word-wrap:break-word;word-break:break-all;}
.c_gray{color:#999;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.blue_38f{color:#38f;} 
.blue_38f:hover{color:#27f;}
a.blue_38f:focus{color:#38f;text-decoration:none;}
.blue_00f{color:#00f;}
a.blue_00f:hover{color:#00f;}
a.blue_00f:focus{color:#00f;}
.blue_07d{color:#07d;}
.blue_07d:hover{color:#07d;}
.blue_07d:focus{color:#07d;}
.green{color:#49c800;}
.red{color:#f30;}
.orange_f60{color:#f60;}
.orange_f70{color:#f70;}
.gray_999{color:#999;}
.gray_ccc{color:#ccc;}
.mgb15{margin-bottom:15px;}
.mgb30{margin-bottom:30px;}
.mgr10{margin-right:10px;}
.mgtb30{margin:30px 0;}
.mgb100{margin-bottom:100px;}
.mgl15{margin-left:15px;}
.main{overflow-x:visible;}
.w50{width:50px;}
.w250{width: 250px;}
.w350{width: 350px;}
.empty_items{font-size:12px;text-align:center;line-height:150px;border:1px solid #dcdcdc;}
.chart_items{min-height:300px;border:1px solid #e4e4e4;}
.block{display:block;}
.no{display: none!important;}
strong{display:block;}
input[type="text"]:focus{
	border-color:rgba(82,168,236,.8);
	outline:0;
	outline:dotted thin\9;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
}
.box_flex1{
	display:block;
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
}
.display_box{
	display:flex;
	display: -moz-box;
	display:-webkit-box;
	box-align:center;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-pack:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
}
.flex{
	display: block;
	flex:1 0 auto;
	-webkit-flex:1 0 auto;
	-moz-flex:1 0 auto;
}
.flex select{min-width: 150px ;padding:5px 10px;}
.box_flex{
	display: flex;
	display: -moz-flex;
	display:-webkit-flex;
	justify-content:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	align-items:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	align-content:center;
}
/* 消息推送 */
.ad_header{
	padding: 20px;
    background: #f8f8f8;
}
/*横幅*/
.ad_banner{
	background: #ffc;
    border:1px solid #fc6;
    padding: 7px 15px;
}
/*导航模块*/
.module_nav{}
.module_nav:after{
	content: "";
	display: block;
	clear: both;
}
.module_nav li{
	min-width: 80px;
	float: left;
	padding:10px 15px;
	color: #333;
    border: 1px solid #e5e5e5;
    border-left:0;
    background: #f8f8f8;
}
.module_nav li:first-child{
	border-left: 1px solid #e5e5e5;
}
.module_nav li.hover{
	border-bottom-color: #fff;
    background: #fff;
}
.module_nav li a{
	font-size:12px;
	text-align:center;
	display: block;
}
.message_tip{text-align: right;padding:10px;border-bottom:1px solid #e5e5e5;}
/*检索*/
.search_items{
    color: #333;
    padding: 14px;
    background: #f2f8fe;
}
.search_items .search_list{margin-bottom:10px;}
.search_items .search_list .list_name{min-width: 120px;text-align: right;}
.search_items .search_list .list_content{margin-left:10px;}
.search_items .search_list .list_content input{padding:5px 20px 5px 10px;
	border:1px solid #999;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:12px;
}
.search_items .search_list .list_content .data_btn{font-size:12px;color:#07d;padding:2px 5px;}
.search_items .search_list .list_content .data_btn.active{
	border:1px solid  #789fcb;
    color: #789fcb;
    background: #fff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
}
