/*开关按钮样式开始*/
.ui-switcher-on {background: #4b0;}
.ui-switcher-on:hover {background: #d00;}
.ui-switcher-off {background: #666;}
.ui-switcher-off:hover {background: #333;}
.ui-switcher {position: relative;display: inline-block;width: 110px;height: 40px;padding: 2px;font-size: 16px;color: #fff;vertical-align: middle;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;cursor: pointer;border-radius: 20px;}
.ui-switcher-on::before {top: 2px;display: inline-block;width: 62px;line-height: 36px;text-align: center;vertical-align: top;content: '\5DF2\542F\7528';padding-left: 8px;}
.ui-switcher::before {position: absolute;left: 2px;}
.ui-switcher-on::after {top: 2px;display: inline-block;content: '';width: 36px;height: 36px;background: #fff;border-radius: 18px;-webkit-transition: rotate 100s;-moz-transition: rotate 100s;transition: rotate 100s;}
.ui-switcher::after {position: absolute;right: 2px;}
.ui-switcher-off::before {top: 2px;display: inline-block;content: '';width: 36px;height: 36px;background: #fff;border-radius: 18px;-webkit-transition: rotate 100s;-moz-transition: rotate 100s;transition: rotate 100s;}
.ui-switcher-off::after {top: 2px;display: inline-block;width: 62px;line-height: 36px;text-align: center;vertical-align: top;content: '\672A\542F\7528';padding-right: 8px;}
.ui-switcher-off:hover::after {content: '\542F\7528';}
.ui-switcher-on:hover::before {content: '\7981\7528';}

.switch-small .ui-switcher-on {background: #4b0;}
.switch-small .ui-switcher-on:hover {background: #d00;}
.switch-small .ui-switcher-off {background: #666;}
.switch-small .ui-switcher-off:hover {background: #333;}
.switch-small .ui-switcher {position: relative;display: inline-block;width: 80px;height: 30px;padding: 2px;font-size: 12px;color: #fff;vertical-align: middle;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;cursor: pointer;border-radius: 20px;}
.switch-small .ui-switcher-on::before {top: 2px;display: inline-block;width: auto;line-height: 25px;text-align: center;vertical-align: top;content: '\5DF2\542F\7528';padding-left: 8px;}
.switch-small .ui-switcher::before {position: absolute;left: 2px;}
.switch-small .ui-switcher-on::after {top: 2px;display: inline-block;content: '';width: 25px;height: 25px;background: #fff;border-radius: 18px;-webkit-transition: rotate 100s;-moz-transition: rotate 100s;transition: rotate 100s;}
.switch-small .ui-switcher::after {position: absolute;right: 2px;}
.switch-small .ui-switcher-off::before {top: 2px;display: inline-block;content: '';width: 25px;height: 25px;background: #fff;border-radius: 50%;-webkit-transition: rotate 100s;-moz-transition: rotate 100s;transition: rotate 100s;}
.switch-small .ui-switcher-off::after {top: 2px;display: inline-block;width: auto;line-height: 25px;text-align: center;vertical-align: top;content: '\672A\542F\7528';padding-right: 8px;}
.switch-small .ui-switcher-off:hover::after {content: '\542F\7528';}
.switch-small .ui-switcher-on:hover::before {content: '\7981\7528';} 

/*开关按钮样式结束*/
/*页面样式*/
.switch{padding:15px 10px;position: relative;}
.t-bule{color:#3197FA;}
.t-bule:hover{color:#67BBE2;}
.t-bule:focus{color:#67BBE2;}
.bg-gray{background-color:#F2F2F2;}
.switch-wrap{position: absolute;top:20px;right:20px;}
.sub-switch{top:10px;}
.bb-line{border-bottom:1px solid #F2F2F2;}
.t-tab{width:100%;border-bottom:1px solid #F2F2F2;}
.t-tab::after{content:'';display: block;clear:both;}
.t-tab li{float:left;width:80px;text-align: center;line-height: 35px;cursor:pointer;}
.t-tab li.active{border-bottom: 2px solid #FF6600;}
.rule-warp{padding:15px 10px;}
.rule-warp input[type='text']{width:60px;margin-left:10px;margin-right:10px;text-align:center;border: 1px solid #f2f2f2;padding:1px 0;}
.rule-warp input[type='button']{border: 1px solid #f2f2f2;color: #3197FA;padding: 1px 10px;}
.mlr0{margin-left:0 !important;margin-right: 0 !important;}
.footer-warp{position: fixed;left:210px;bottom:0;right:210px; width:auto; background-color:#FFFFCC;padding:10px;z-index: 1;}

.sign-page{width: 320px;height: 504px;background-size: cover; background-image: url("../images/sign_page.png");}