.gray1{color:#A3A3A2;} 
.mb-15{margin-bottom:15px;}
.nav_module_blank{position: absolute;right:0px;top:5px;}
/*---推广弹窗开始---*/
.mb-10{margin-bottom:10px;}
.blue,a{color:#3197FA;}
.blue,a:hover{color:#187dde;}
.text-center{text-align: center;}
.text-right{text-align:right;}
.spread-popup{
	position: absolute;
	top:-70px;
	left:-100px;
	display: inline-block;
	width:240px;
	border:1px solid #ccc;
	border-radius: 9px;
    z-index: 100;
    box-sizing: border-box; 
    background-color: #fff;
}
.spread-popup::after,.spread-popup::before{
    content: "";
    position: absolute;
    top: 66px;
    right: -19px;
    border: 10px solid transparent;
    border-left-color: white;
}
.spread-popup::before {
    right: -21px;
    border-left-color: #ccc;
}
.spread-popup .color-red{
	color:#FF7A7A;
}
.spread-popup img{
	width:100%;
	height:auto;
}

.spread-popup .spread-popup-content{
	margin:15px 15px;
	box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow:1px 1px 5px #ccc;;
	-moz-box-shadow: 1px 1px 5px #ccc;
	-ms-box-shadow: 1px 1px 5px #ccc;
	-o-box-shadow: 1px 1px 5px #ccc;
}

.spread-popup .spread-popup-content .spread-popup-sub-content{
    margin: 10px 7px 10px;
    padding: 10px 5px;
    text-align: left; 
    border-radius: 3px;
}
.spread-popup  .spread-popup-content .spread-popup-sub-content p{
	font-size:11px;
}


/*---推广弹窗结束---*/
.hs-btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 2px;
    font-size: 12px;
    color: #333;
    background: #fff;
    border: 1px solid #bbb;
    text-align: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.hs-btn-success {
    color: #fff;
    background: #06bf04;
    border-color: #00ab00;
}
.hs-btn-success:hover, .hs-btn-success:focus {
    color: #fff;
    background: #49c800;
    border-color: #399f00;
}
.ui-search-box {
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: 10;
    vertical-align: middle;
    margin: 0;
}
.ui-search-box .txt {
    width: 97px;
    height: auto;
    padding: 5px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #ddd;
    margin: 0;
    padding-left: 20px;
    background: #fff url(../images/ico-search.png) 4px center no-repeat;
    background-image: -webkit-image-set( url(../images/ico-search.png) 1x, url(../images/ico-search@2x.png) 2x);
    border-radius: 2px;
    -webkit-transition: width linear 0.25s;
    -moz-transition: width linear 0.25s;
    transition: width linear 0.25s;
}
.ui-search-box .txt:focus {
    border-color: #aaa;
    outline: none;
    width: 207px;
}
.content .main_content .main_content_title {
    background: #F2F2F2;
}
.content .main_content ul:not(.main_content_title):hover {
    background: #F8F8F8;
}
.content .main_content ul {
    width: 100%;
    /*height: 40px;*/
    display: inline-block;
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    padding: 0 10px;
    border-bottom: 1px solid #E5E5E5;
}
.content .main_content ul li{
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}
/* 许立 2018年08月08日 列表重新布局 */
.content .main_content ul li:nth-of-type(1){
    width: 7%;
}
.content .main_content ul li:nth-of-type(2){
    width: 15%;
    text-align: center
}
/*updata by 邓钊 2018-6-27*/
.content .main_content ul li:nth-of-type(3){
    width: 30%;
    text-align: center;
}
.content .main_content ul li:nth-of-type(4){
    width: 18%;
    text-align: center;
}
.content .main_content ul li:nth-of-type(5){
    width: 10%;
    text-align: center;
}
.content .main_content ul li:nth-of-type(6){
    width: 17%;
    text-align: center;
}
/*end*/

/*二维码*/
.del_popover{height: min-content;}
.t-pop-header{width: 228px;}
.t-pop-header{display: flex;justify-content: space-between;}
.t-pop-header{text-align: center;}
.t-pop-content img{margin: 0 auto;}
.xiazai{text-align: center;}
.flo-rig{cursor: pointer;}
.popover-content{  box-shadow: 0 1px 6px rgba(0,0,0,.4);background-color: #fff;}

/*参与人详情*/
.particulars{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 9999;
}
.par_conten{
    width: 590px;
    min-height: 480px;
    max-height: 555px;
    overflow-X: auto;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -295px;
    padding: 0 10px 30px 10px;
}
.par_title{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}
.par_time{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 10px 0;
    color: #CCCCCC;
}
.par_box{
    width: 100%;
}
.par_ul li{
    width: 100%;
    display: flex;
    line-height: 35px;
    border-bottom: 1px dashed #CCCCCC;
    padding: 0 5px;
}
.par_ul li span{
    display: block;
    font-size: 14px;
}
.par_ul li span.per_text{
    line-height: 22px;
    padding: 8px 0;
}
.par_ul li span:first-child{
    width: 150px;
    color: #999999;
}
.par_ul li span:last-child{
    width: 405px;
}
.par_close{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: 100%;
    background-color: #cccccc;
    right: 50%;
    margin-right: -305px;
    top: 88px;
    z-index: 9999;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #ffffff;
}
/*微页面模板选择弹窗*/
.modal-backdrop {background: #000;opacity: 0.7;display:none;}
.modal {
    position: fixed;
    top: 50%;
    margin-top: auto;
    -webkit-background-clip: padding-box;
    left: 50%;
    z-index: 1050;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0,0,0,.3);
    bottom:auto;
    margin-top:-325px;
}
.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
}
.widget-feature-template {
    width: 872px;
    margin-left: -436px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 600px;
}

.widget-feature-template .modal-body {
    position: relative;
    padding: 0;
    overflow-y: auto;
    padding: 60px 20px 0 0;
    max-height: 600px;
}

.widget-feature-template .widget-feature-template-filter {
    position: absolute;
    top: 39px;
    left: 0;
    width: 850px;
    padding: 20px;
    background: #fff;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.widget-feature-template .widget-feature-template-filter li {
    display: inline-block
}

.widget-feature-template .widget-feature-template-filter li.active a {
    color: #333
}

.widget-feature-template .widget-feature-template-filter li+li:before {
    content: '-';
    display: inline-block;
    color: #999;
    margin: 0 5px
}

.widget-feature-template .widget-feature-template-filter li.shop-decoration {
    float: right
}

.widget-feature-template .widget-feature-template-filter li.shop-decoration:before {
    content: ''
}

.widget-feature-template .widget-feature-template-filter li.shop-decoration a {
    line-height: 18px;
    display: inline-block
}

.widget-feature-template .widget-feature-template-filter li.shop-decoration span {
    display: inline-block;
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 3px;
    background-image: url("/v2/image/widget/image/fuwu.png");
    background-repeat: no-repeat;
    background-size: 14px 14px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    .widget-feature-template .widget-feature-template-filter li.shop-decoration span {
        background-image: url("/v2/image/widget/image/fuwu@2x.png")
    }
}

.widget-feature-template .widget-feature-template-list {
    width: 850px
}

.widget-feature-template .widget-feature-template-list li {
    position: relative;
    float: left;
    width: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 20px;
    background: #9b9b9b
}

.widget-feature-template .widget-feature-template-list li .template-screenshot {
    display: block;
    width: 150px;
    height: 200px;
    background-size: cover
}

.widget-feature-template .widget-feature-template-list li .template-title {
    padding: 9px;
    background: #f8f8f8
}

.widget-feature-template .img-wrap {
    position: relative
}

.widget-feature-template .img-wrap:hover .template-cover {
    display: block
}

.widget-feature-template .img-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    background-size: 52px 52px
}

.widget-feature-template .template-state-1::after {
    /*background-image: url("/v2/image//template_market/charge.png")*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    .widget-feature-template .template-state-1::after {
        /*background-image: url("/v2/image//template_market/charge@2x.png")*/
    }
}

.widget-feature-template .template-state-2::after {
    /*background-image: url("/v2/image//template_market/expiring.png")*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    .widget-feature-template .template-state-2::after {
        /*background-image: url("/v2/image//template_market/expiring@2x.png")*/
    }
}

.widget-feature-template .template-state-3::after {
    /*background-image: url("/v2/image//template_market/expired.png")*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    .widget-feature-template .template-state-3::after {
        /*background-image: url("/v2/image//template_market/expired@2x.png")*/
    }
}

.widget-feature-template .template-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.widget-feature-template .template-action-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
    text-align: center
}

.widget-feature-template .template-action-container .ui-btn {
    padding: 0;
    width: 88px
}

.widget-feature-template .template-action-container .ui-btn-buy {
    margin-top: 8px;
    color: #4b0;
    background-color: #fff;
    border-color: #4b0
}

.widget-feature-template .template-action-container .template-order-desc {
    margin-top: 12px;
    color: #fff
}

.widget-feature-template .template-market-link {
    position: relative;
    top: -2px;
    padding: 0 5px 0 23px;
    margin-left: 8px;
    line-height: 16px !important;
    border: 1px solid #3ea91b;
    border-radius: 2px;
    color: #fff;
    background-color: #4b0
}

.widget-feature-template .template-market-link::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 13px;
    height: 11px;
    background: url("/v2/image/template_market/template_market@2x.png") no-repeat;
    background-size: 13px 11px
}

.widget-feature-template .empty-template-list {
    padding: 150px 0;
    text-align: center
}
.modal-header .title,.modal-header h4 {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold
}

.modal-footer .ui-btn+.ui-btn {
    margin-bottom: 0;
    margin-left: 5px
}

/*add by 赵彬 2018-8-9*/
/*点击推广弹窗*/
.widget-promotion {
    position: absolute;
    z-index: 100;
    width: 360px;
    height: 420px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.widget-promotion::after,.widget-promotion::before {
    content: "";
    position: absolute;
    top: 66px;
    right: -19px;
    border: 10px solid transparent;
    border-left-color: white
}

.widget-promotion::before {
    right: -21px;
    border-left-color: #ccc
}
.widget-promotion-tab{
	border-bottom: #CCCCCC 1px solid;
}
.widget-promotion-tab li {
    float: left;
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background: #f2f2f2;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.widget-promotion-tab li:first-child {
    border-top-left-radius: 9px
}

.widget-promotion-tab li:last-child {
    border-top-right-radius: 9px
}
.widget-promotion-tab li{
	background: #fff;
}
.widget-promotion-tab li.active {
    border-bottom: #3b9cf9 2px solid;
}
.widget-promotion-main {
    min-height: 200px;
    padding: 10px 15px 20px
}

.widget-promotion-main label {
	padding:0 0 15px 20px;
    font-size: 12px;
    line-height: 12px;
    display: block;
    margin: 0;
    font-weight: normal;
}
.widget-promotion-main .label-b{
	padding:15px 0 0 20px;
}
.widget-promotion-main input[type="text"] {
    width: 230px;
    background-color: #f1f2f6;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.widget-promotion-main .btn{
    color: #fff;
    background-color: #38f;
    margin-left: -6px;
    border-top-left-radius: 0;
    border:1px #38f solid;
}
.widget-promotion-main .widget-promotion-content {
    margin-top: 15px;
}
.widget-promotion-content a{
	color:#38f;
}
.qrcode{
	width: 100%;
}

.widget-promotion-main .qrcode-right-sidebar {
    background-color: #FFF;
    width: 100%;
    min-height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.widget-promotion-main .qrcode-right-sidebar img {
    padding-top: 10px;
    width: 150px;
    margin: -10px -10px 0 0
}
.widget-promotion-main .qrcode-right-sidebar .qr_img {
	margin: 0 auto;
    width:200px;
    height:200px;
}
.widget-promotion-main .qrcode-right-sidebar .qr_img_xcx {
	margin: 0 auto;
	padding: 10px 0 0 25px;
    width:200px;
    height:200px;
}
.widget-promotion-main .qrcode-links{
	text-align: center;
}
.input-append {
    text-align: center;
}
.no_data{
    text-align: center;
    width: 100%;
    line-height: 100px;
    color: #999999
}