/*弹窗居中*/
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin:0 auto;
}
.js-list-filter-region {
    position:relative;
}
.common-helps-entry {
    line-height: 30px;
    font-size: 12px;
    padding-left: 10px;
}
.clearfix::after {
    content: '\200B';
    display: block;
    height: 0;
    clear: both;
}
.common-helps-entry .help-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    line-height: 18px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
    background: #3c3;
    text-align: center;
}
.common-helps-entry .help-icon:after {
    content: "?";
}

/*搜索框*/
.form--search, .form--searchbox {
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: 10;
    vertical-align: middle;
    margin: 0;
}
.form--search .txt {
    -webkit-transition: width linear 0.25s;
    -moz-transition: width linear 0.25s;
    transition: width linear 0.25s;
    border-radius: 4px;
}
.form--search .txt:focus {
    border-color: #aaa;
    outline: none;
    width: 180px
}
.form--search .txt, .form--searchbox .txt {
    width: 97px;
    height: 30px;
    padding: 4px 5px 3px 21px;
    font-size: 12px;
    line-height: 30px;
    border: 1px solid #ccc;
    margin: 0;
    padding-left: 20px;
    background: #fff url(../images/ico-search.png) 4px center no-repeat;
    background-image: -webkit-image-set( url(../images/ico-search.png) 1x, url(../images/ico-search@2x.png) 2x);
    border-radius:2px;
}
.clearfix::after {
    content: '\200B';
    display: block;
    height: 0;
    clear: both;
}
/*导入商品素材弹窗*/
 .form-horizontal .control-group {
     margin-bottom: 10px;
 }
 
 .form-horizontal .control-label {
     width: 120px;
     font-size: 14px;
     line-height: 18px;
     float: left;
 }
 
 .form-horizontal .controls {
     margin-left: 130px;
     word-break: break-all;
 }
 
 .form-horizontal .control-action {
     padding-top: 5px;
     display: inline-block;
     font-size: 14px;
     line-height: 18px;
 }
 
 .file-select-button {
     position: relative;
     overflow: hidden;
     width: 80px;
     background: none;
     padding: 0;
 }
 
 .form-horizontal .control-action {
     padding-top: 5px;
     display: inline-block;
     font-size: 15px;
     font-weight: bold;
     line-height: 20px;
 }
 
 .file-select-button input {
     position: absolute;
     top: 0;
     left: 0;
     margin: 0;
     opacity: 0;
     filter: alpha(opacity=0);
     font-size: 23px;
     direction: ltr;
     cursor: pointer;
     width: 80px;
 }
 
 .form-horizontal .help-block,
 .form-horizontal .help-desc {
     opacity: 0.6;
     line-height: 14px;
     font-size: 12px;
     margin-top: 6px;
     margin-bottom: 10px;
 }
 
 .upload-modal .help-section {
     margin-top: 10px;
 }
 
 .choose {
     color: #38f;
 }
 
 .down_load {
     color: #38f;
 }
 
 .name_container {
     display: none;
 }
 
 .size_container {
     display: none;
 }
 
 .js-notice {
     display: none;
 }


/*分页*/
.page{
	text-align:right;
    position:relative;
}

.ui-popover {
    position: absolute;
    z-index: 1010;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
    width: 250px;
    top: -12px;
    left:93px;
    display:none;
}
.ui-popover .ui-popover-inner {
    position: relative;
    background: #fff;
    border-radius: 2px;
    padding: 10px 20px;
    z-index: 2;
}
.ui-popover.right-center .arrow {
    top: 50%;
    -webkit-transform: rotate(45deg) translateX(-50%) translateY(-50%);
    -moz-transform: rotate(45deg) translateX(-50%) translateY(-50%);
    -ms-transform: rotate(45deg) translateX(-50%) translateY(-50%);
    transform: rotate(45deg) translateX(-50%) translateY(-50%);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.ui-popover.right-top .arrow, .ui-popover.right-center .arrow, .ui-popover.right-bottom .arrow {
    left: 0;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -moz-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
.ui-popover .arrow {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    z-index: 1;
}

.delete .ui-popover {
    position: absolute;
    z-index: 1010;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
    width: 250px;
    top: -12px;
    right: -260px;
    display:none;
}
a:hover{color: #187dde;}
.table>tbody>tr>td{border-top: 0;border-bottom: 1px solid #E5E5E5;}
.table>thead>tr>th{border-bottom: 1px solid #E5E5E5;}
.btn-default:hover{color: #3197FA;background-color: #fff;border-color: #3197FA;}
.matop10{margin-top: 10px;}
