.required{
	margin-right: 6px;
    font-size: 16px;
    color: #e33;
    vertical-align: middle;
}
.mb-20{
	margin-bottom: 20px;
}
.vertical-top:{
	vertical-align: top;
}
.co-38f{
	color: #38f;
	cursor: pointer;
}
.inline-block{
	display: inline-block;
}
.wd-35{
	width: 35px;
}
[ng-cloak]{
	display: none;
}
.error-message{
	color: #f44;
	margin-left: 65px;
	margin-top: 0;
}
/*底部导航主体样式开始*/
.app{display: none;}
.app .appInfo{
	margin:15px 0;
	font-size: 12px;
	width: 755px;
	height: 30px;
	line-height: 30px;
	border:1px solid #cde2ff;
	background-color: #f5f9ff;
}
.app .appInfo .icon-info{
	color: #38f;
	font-size: 13px;
	margin-left: 8px;
	margin-right: 5px;
}
/*主体展示开始*/
/*左侧展示开始*/
.app-content .show{
	float: left;
	width: 320px;
	border:1px solid #ccc;
}
.show .wrapper{
	width: 100%;
	height: 515px;
}
.show .wrapper img{
	width: 100%
}
.show .bottom{
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
}
.bottom .item{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-flex:1;
	-moz-flex:1;
	-o-flex:1;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 100%;
	text-align: center;
}
.bottom .item div{
	display: inline-block;
	padding: 5px;
}
.bottom .item img{
	width: 27px;
	height: 27px;
	display: inline-block;
}
.bottom .item .title{
	font-size: 12px;
	color: rgb(102, 102, 102);
}
/*右侧编辑开始*/
.vertical-top{vertical-align: top;color: #333;}
.fz-12{font-size: 12px;}
.app-content .edit{
	float: left;
	width: 390px;
	border:1px solid #ddd;
	background-color: #fafafa;
	margin-left: 13px;
	padding:0 15px;
	-webkit-box-sizing: content-box;
    box-sizing: content-box;
	border-radius: 8px;
}
.edit .item-wrapper{
	margin-bottom: 15px;
}
.edit .header{
	height: 35px;
	font-size: 14px;
	line-height: 35px;
	border-bottom:1px solid #ddd;
	color: #000;
	margin-bottom: 20px;
}
.edit .add-nav{
	position: relative;
	margin:15px 0 25px 0;
	padding-left: 62px;
	display: block;
}
.edit .add-nav div{
	width: 100%;
	border:1px solid #e5e5e5;
	height: 40px;
	line-height: 40px;
	color: #38f;
	text-align: center;
	cursor: pointer;
}
.edit .add-nav .select-type{
	position: absolute;
	top: -122px;
	border:1px solid #ccc;
	background-color: #fff;
	width: calc(100% - 62px);
	padding-left:20px;
	padding-right:20px;
}
.select-type li{
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-bottom:1px solid #ccc;
}
.select-type li:last-child{
	border-bottom:0;
}
.item-wrapper>div{
	display: inline-block;
}
.item-wrapper .item{
	width: 300px;
	background-color: #fff;
	border:1px solid #ddd;
	padding: 11px;
	-webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.item-wrapper .label{
	width: 50px;
	text-align: right;
	margin-right: 10px;
}
.edit .item{
	position: relative;
}
.edit .item:hover .delete{
	display: block;
}
.edit .item .delete{
	position: absolute;
    top: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 9px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: hsla(0,0%,60%,.6);
    display: none;
}
.edit .item .title{
	width: 110px;
	font-size: 12px;
}
.control-label{
	color: #111;
	font-weight: 500;
	font-size: 12px;
	margin-right: 10px;
	width: 50px;
	text-align: right;
	margin-bottom: 0px;
}
.form-control{
	height: 30px;
	padding: 0 5px;
	border:1px solid #ddd;
}
.item .wrapper{
	display: inline-block;
}
.edit .revise{
	color:#38f;
	font-size: 12px;
	cursor: pointer;
}
.edit .picture-group{
	margin-top: 5px;
}
.edit .picture-group .picture-one{
	margin-right: 15px;
}
.edit .picture-group > div{
	display: inline-block;
	border:1px solid #ddd;
	width: 30px;
	height: 30px;
	padding: 20px;
	-webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.edit .select-url{
	border:1px solid #cde2ff;
	background-color: #f5f9ff;
	padding:2px 5px;
	color: #666;
	margin-right: 5px;
}
/*图片模态框选择*/
.modal .h3{
	font-weight: bold;
	font-size: 14px;
	padding: 0;
	margin:0;
}
.pic-modal .modal-dialog{
	width: 800px;
}
.pic-modal .modal-body{
	padding: 20px;
}
.picItem{
	padding: 20px;
	text-align: center;
	cursor: pointer;
}
.picItem img{
	width: 30px;
	height: 30px;
}
.picItem:hover{
	background-color: #f9f9f9;
}
@media only screen and (min-width: 1200px){
	.btn-wrapper {
	    right: 210px;
	}
}
@media only screen and (max-width: 1200px){
	.btn-wrapper {
	    right: 0;
	}
}
/*保存样式*/
.btn-wrapper{
	z-index: 100;
	position: fixed;
	bottom: 0;
	left: 210px;
	padding:12px 0;
    text-align: center;
    background-color: #ffc;
    box-sizing: content-box;
}
.btn-wrapper .btn-primary{
	padding: 4px 12px;
}
/*model*/
.module-nav {
    display: inline-block;
    margin-left: 10px;
    vertical-align: baseline;
    font-size: 0;
    line-height: 0;
    font-weight: bold;
}
.module-nav>li {
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    line-height: 18px;
}
.module-nav>li.active>a, .module-nav>li.active a.dropdown_toggle {
    color: #333;
}
.module-nav>li>a {
    margin-right: 5px;
}

.ui-table.ui-table-list {
    border: none;
}
.ui-table {
    width: 100%;
    font-size: 12px;
    text-align: left;
    margin-bottom: 0;
    border: 1px solid #e5e5e5;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ui-table th, .ui-table td{
    box-sizing: border-box;
}
.table thead tr {
    background: #fff;
}
.pic-modal .modal-body{
    min-height: 400px;
}   
.modal-body .table th {
    font-weight: normal;
}
.table thead tr>th {
    color: #000;
    background-color: #f5f5f5;
    padding: 10px 0;
}
.table th>.td-cont {
    padding: 7px 0 3px 10px;
}
.table .td-cont {
    line-height: 16px;
}
.table th.opts, .table td.opts {
    text-align: right;
}
.form-search {
    margin: 0;
}   
input[type="text"] {
    font-size: 12px;
}
.form-search .input-append .btn {
    border-radius: 0 4px 4px 0;
}
.ui-table .form-control{
    display: inline-block;
    width: 104px;
    height: 30px;
    padding: 6px 12px;
    border-radius: 0;
    vertical-align: middle;
}
.ui-table .js-modal-search{
    font-size: 12px;
    height: 30px;
    /*line-height: 25px;*/
    position: relative;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 0;
    vertical-align: middle;
}
.table td.image {
    padding: 10px 0 10px 8px;
}
.table td.image .td-cont {
    padding: 0px;
}
.table td.image .td-cont img {
    width: 50px;
    height: 50px;
}
.table td.title {
    text-align: left;
}
.ui-table .information{
    width:240px;
}
.ui-table .js-choose{
    border: 1px solid;
    border-color: rgb(169, 169, 169);
    border-radius: 0;
    padding: 2px 10px;
}
/*form{
	position: relative;
}*/
/*.mask{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background:url('/shop/images/loading.gif') center center no-repeat;
	background-color: rgba(0,0,0,0.3);
	background-size: 30px 30px;
}
*/
/*开关按钮样式开始*/
.ui-switcher-on {background: #4b0;}
.ui-switcher-on:hover {background: #d00;}
.ui-switcher-off {background: #666;}
.ui-switcher-off:hover {background: #333;}
.ui-switcher {position: relative;display: inline-block;width: 110px;height: 40px;padding: 2px;font-size: 16px;color: #fff;vertical-align: middle;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;cursor: pointer;border-radius: 20px;}
.ui-switcher-on::before {top: 2px;display: inline-block;width: 62px;line-height: 36px;text-align: center;vertical-align: top;content: '\5DF2\542F\7528';padding-left: 8px;}
.ui-switcher::before {position: absolute;left: 2px;}
.ui-switcher-on::after {top: 2px;display: inline-block;content: '';width: 36px;height: 36px;background: #fff;border-radius: 18px;-webkit-transition: rotate 100s;-moz-transition: rotate 100s;transition: rotate 100s;}
.ui-switcher::after {position: absolute;right: 2px;}
.ui-switcher-off::before {top: 2px;display: inline-block;content: '';width: 36px;height: 36px;background: #fff;border-radius: 18px;-webkit-transition: rotate 100s;-moz-transition: rotate 100s;transition: rotate 100s;}
.ui-switcher-off::after {top: 2px;display: inline-block;width: 62px;line-height: 36px;text-align: center;vertical-align: top;content: '\672A\542F\7528';padding-right: 8px;}
.ui-switcher-off:hover::after {content: '\542F\7528';}
.ui-switcher-on:hover::before {content: '\7981\7528';}
.t-blue{color:#1E90FF;}
.blue{color:blue;}
.mr20{margin-right:20px;}
.switch{padding:15px 10px;position: relative;} 
.switch strong{display: inline-block;}
.bg-gray{background-color:#F2F2F2;margin: 10px 0;}
.switch-wrap{position: absolute;top:20px;right:20px;}
.sub-switch{top:10px;}
.bb-line{border-bottom:1px solid #F2F2F2;}
.t-tab{width:100%;border-bottom:1px solid #F2F2F2;}
.t-tab::after{content:'';display: block;clear:both;}
.t-tab li{float:left;width:80px;text-align: center;line-height: 35px;cursor:pointer;}
.t-tab li.active{border-bottom: 2px solid #FF6600;}
/*左侧导航样式*/
.topnav{width: 30px;height: 30px;display: inline-block;}
.bottom .item:first-child div{color: red;border-bottom: 2px solid red;}
.bottom .item:first-child div p{color: red;}
