label{font-weight: normal;}
.main .main_content{padding: 10px 30px;}
.main .main_content .sorts{height: auto; min-height: 60px; padding: 10px;}
.main .main_content .sorts .form-inline .input-group{margin-right: 10px;}
.main .main_content .table_title{background: #f0f0f0;}
.main .main_content .sheet{height: 50px; border-bottom: 1px solid #ccc;} 
.main .main_content .sheet li{width: 15%; height: 100%; line-height: 49px; overflow: hidden; text-align: center; font-size: 15px;}
.main .main_content .sheet li .del{color: #f00;}
.main .main_content .sheet li:nth-child(1){width: 10%;}
.main .main_content .sheet li:not(.fun){cursor: pointer;}
.main .main_content .main_bottom{margin-top: 20px;}
.main .main_content .main_bottom span a{margin: 0 5px;}
.main .main_content .main_bottom span input{width: 60px; height: 34px; margin-left: 10px; padding: 5px; border: 1px solid #ccc; border-radius: 5px;}
.main .main_content .main_bottom span button{margin-left: 10px;}
.main .modal-footer{text-align: center;}
.main .modal-lab{display: block; text-align: right; margin: auto; width: 400px;}
.main .modal-sel{width: 275px;}
.main .heig30{height: 30px;}
.main .flex-left{position: absolute; bottom: 5px;}
.sheet li input.sheet-li-input{
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #999;
}
.sheet-li-title:hover{
    color: #289ffb;
}
