.hide{display: none;}
label{font-weight: normal;}

.main .main_content{padding: 10px 30px;}
.main .main_content .sorts{height: 50px; line-height: 50px; font-size: 16px; margin-bottom: 40px;}
.main .main_content .sorts .verLine{margin: 0 5px;}