@charset "UTF-8";
.hide {
  display: none; }

label {
  font-weight: normal; }

.main .main_content {
  padding: 10px 30px; }
.main .main_content .sorts {
  height: 50px;
  line-height: 50px;
  font-size: 16px; }
.main .main_content .sorts .verLine {
  margin: 0 5px; }
.main .main_content .table_title {
  background: #f0f0f0; }
.main .main_content ul {
  height: 50px;
  border-bottom: 1px solid #ccc; }
.main .main_content ul li {
  width: 23%;
  height: 100%;
  line-height: 49px;
  overflow: hidden;
  text-align: center;
  font-size: 15px; }
.main .main_content ul li .del {
  color: #f00; }
.main .main_content ul li:nth-child(1) {
  width: 20%; }
.main .main_content .main_bottom {
  margin-top: 20px; }
.main .main_content .main_bottom span a {
  margin: 0 5px; }
.main .main_content .main_bottom span input {
  width: 60px;
  height: 34px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }
.main .main_content .main_bottom span button {
  margin-left: 10px; }

/*弹框*/
body #myModal select, body #myModal_1 select {
  width: 269px;
  height: 34px;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 5px; }

body #myModal .modal-footer, body #myModal_1 .modal-footer {
  text-align: center; }

#shop_form {
  margin: 24px 0; }

.red {
  color: red; }

.noData {
  text-align: center;
  font: 24px/64px '';
  font-weight: bold;
  color: #e6e6e6; }

textarea {
  resize: none; }

/* 协议弹窗 */
.layui-layer {
  border-radius: 5px; }
.layui-layer .layui-layer-title {
  font-size: 24px;
  line-height: 64px;
  background: white;
  text-align: center;
  height: 64px; }
.layui-layer .layui-layer-title {
  padding: 0; }
.layui-layer .layui-layer-close {
  margin-right: 8px; }
.layui-layer .layui-layer-close::before {
  content: 'x';
  font-size: 16px;
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white; }
.layui-layer .layui-layer-ico {
  background: none; }

#pop {
  padding: 8px 64px;
  position: relative; }
#pop p {
  line-height: 24px; }
#pop .final {
  text-align: right;
  font: 16px/32px '';
  padding-bottom: 32px; }
#pop .marginBottom {
  margin-bottom: 8px; }
#pop .marginBottom2 {
  margin-bottom: 16px; }
#pop .title {
  font-weight: bold;
  margin-right: 48px;
  line-height: 36px; }
#pop .detail p {
  line-height: 36px; }

#remark {
  margin-left: 32px;
  width: 260px;
  vertical-align: top; }

.remark .remarktip {
  font-weight: bold;
  vertical-align: top; }

/*! 自定义input radio*/
input[type="radio"] + span:before {
  content: "\a0";
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 1em;
  height: 1em;
  margin-right: .4em;
  border-radius: 50%;
  border: 1px solid #B8B8B8;
  text-indent: .15em;
  margin-top: -4px; }

input[type="radio"]:checked + span:before {
  box-sizing: border-box;
  background-size: 100% 100%;
  border: 5px solid #3197FA;
  font-size: 14px;
  width: 1em;
  height: 1em;
  margin-top: -4px; }

input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

.submit {
  text-align: center;
  width: 100%;
  margin: 16px 0 0; }
.submit button {
  border: 1px solid #3197FA;
  background: #3197FA;
  width: 128px;
  color: white; }

/*# sourceMappingURL=serviceList.css.map */
